COMPOSE_PROJECT_NAME=rocks-stream
POSTGRES_DB=rocksstream
POSTGRES_USER=rocksstream
POSTGRES_PASSWORD=change_this_postgres_password
REDIS_URL=redis://redis:6379/0
JWT_SECRET=change_this_jwt_secret
ADMIN_EMAIL=admin@rocks.stream
ADMIN_PASSWORD=ChangeMe123!
PUBLIC_DOMAIN=keystream.rockstreamer.com
PUBLIC_SCHEME=https
NEXT_PUBLIC_API_BASE=/api/v1
LETSENCRYPT_EMAIL=ops@rockstreamer.com
AWS_ROUTE53_ZONE_ID=REPLACE_ME
AWS_DEFAULT_REGION=ap-southeast-1
AES_KEY_ROTATION_SECONDS=180
